@font-face {
  font-family: Lato;
  src: url("../public/fonts/lato/lato-v17-latin-700.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("../public/fonts/poppins/poppins-v15-latin-regular.ttf");
}


